/*---Complete Website---*/
*
{
margin: 0;
padding: 0;
}
html 
{
  scroll-behavior: smooth;
}
body
{
	padding-top: 96px;
}
/*---Navigation---*/
#nav-bar
{
    positon: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 70px;
    padding-left: 40px ;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important; /*!important overrides bootstrap classes*/
}
.navbar
{
    background: #7C4F00;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #FFE367!Important;
    font-weight: 600;
    font-size: 16px;
}
/* --- Slider -- */
#slider
{
    width:100%;
}
.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important
}
.carousel-caption h5
{
    color: black;
    font-size: 42px;
}
/* ---------About --------- */
#about
{
	background: #efefef;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about h1
{
	text-align: center;
	color: #555 !important;
	padding-bottom: 10px;
}
#about h1::after
{
	content: '';
	background: #007;
	display: block;
	height: 3px;
	width: 170px;
	margin: 10px auto 5px;
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content
{
    padding-top: 5px;
}

/*----------- Projects -----------*/
#projects
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(imgs/Bkgrd_Img.jpg);
	color: #555;
	padding-top: 50px;
	padding-bottom: 50px;
}
#projects h1
{
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;
}
#projects h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 10px auto 5px;
}
.project-pic
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 170px;
}
.project-pic .img-box
{
	opacity: 1;
	display: block;
	position: relative;
}
.project-pic .img-box img
{
	filter: grayscale(1);
}
.project-pic .img-box img:hover
{
	filter: grayscale(0);
	cursor: pointer;
}

/*-------------- Skills -----------------*/
#skills
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(imgs/projects_img.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#skills h1
{
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;
}
#skills h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 10px auto 5px;
}
/*.skills
{
	margin-top: 40px;
}*/
.icon
{
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 80px;
	width: 80px;
	border: 1px solid #fff;
	border-radius: 50%;
}
#skills p
{
	font-size: 14px;
	margin-top: 20px;
	color: #ccc;
}
.skills .col-md-3:hover
/*hover creates hover effect on icons*/
{
	background: #007bff;
	cursor: pointer;
	transition: 0.7s;
}
.skills-bar p
{
	text-align: center;
    margin-bottom: 6px;
    font-weight: 600;
	/*color: #gold !important;*/
}
.progress-bar
{
    border-radius: 16px;
    border-color: red !important;
}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 20px;
}

/*--------------Get In Touch-------------- */
#contact
{
	background: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
}
#contact h1
{
	text-align: center;
	color: #555;
}
#contact h1::after
{
	content: '';
	background: #007;
	display: block;
	height: 3px;
	width: 250px;
	margin: 10px auto 5px;
}
.contact-form
{
	padding: 15px;
}
.form-control
{
	border-radius: 0 !important;
	border: none;
}
::placeholder
{
	color: #999 !important;
}
.follow
{
	background: #fff;
	padding: 10px;
	margin: 15px;
}
.contact-info .fa
{
	margin: 6px;
	color: #007bff;
	font-weight: bold;
}
/*-------Footer-------*/
#footer
{
	background: #333;
	color: #fff;
	padding: 12px;
}
.fa-heart-o
{
	margin: 3px;
		color:red;
}